.content {

    background-color: #fafafa;;
    padding: 20px;

    // .header {
    //     color: darkviolet;
    // }

    // .error-message {
    //     font-size: 20px;
    //     color: deeppink; ;
    // }

    .h1 {
        background-color: deepskyblue;
    }

    .p {
        background-color: firebrick;
    }
}
